<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} 的选课系统</title>
    {% else %}
        <title>学生选课系统</title>
    {% endif %}
</head>
<body>
    <div id="header" style="text-align: center">
        <h2>欢迎使用学生成绩管理系统!</h2>
    </div>
    <div id="reindex" style="text-align: center; margin: 0 auto">
        <a rel="nofollow" href="/">返回首页</a>
    </div>
    <br>

    <div id="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>