<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} 的选课系统</title>
    {% else %}
        <title>学生选课系统</title>
    {% endif %}
</head>
<body>
    <div id="header">
        <div style="text-align: center">
            <h2>欢迎使用学生成绩管理系统!</h2>
        </div>
    </div>
    <br>
    <div id="container">
        {% block content %}{% endblock %}
    </div>
    <br>
    <div id="footer">
        <div style="text-align: center">
            <a rel="nofollow" href="/">返回首页</a>
        </div>
    </div>
</body>
</html>