<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <br>
    <div class="index">
        <span>
            <a href="/change_password"><button>修改密码</button></a>
        </span>
        {% if is_student == 1 %}
            <span>
                <a href="/choose_class"><button>选择课程</button></a>
            </span>
            <span>
                <a href="/self_class"><button>我的课程表</button></a>
            </span>
        {% else %}
            <span>
                <a href="/auth_class"><button>管理课程</button></a>
            </span>
            <span>
                <a href="/auth_user"><button>管理人员</button></a>
            </span>
        {% endif %}
    </div>
{% endblock %}