<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <div style="text-align: center">
        <table class="form-table" align="left" border="1">
            <thead>
            <tr>
                <th>代号</th>
                <th>名称</th>
                <th>教师</th>
                <th>时间</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            {% for i in classes %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.teacher }}</td>
                    <td>{{ i.time }}</td>
                    <td>{{ i.choose }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="form-fix">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}

                <p>{{ form.class_id.label }}</p>
                <p>{{ form.class_id(size=32) }}</p>
                <p>{{ form.submit() }} {{ form.del_class() }}</p>
            </form>
            <br>
            <p>
                {%for message in get_flashed_messages()%}
                    <div class="alert alert-warning">
                        <p style="color: red">
                            {{message}}
                        </p>
                    </div>
                {%endfor%}
            </p>
        </div>
    </div>
{% endblock %}

