<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <div style="text-align: center">
    <h1>登录页面</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <table border="0" align="center">
            <tr>
                <td>{{ form.username.label }}</td>
                <td>{{ form.username(size=32) }}</td>
            </tr>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <tr>
                <td>{{ form.password.label }}</td>
                <td>{{ form.password(size=32) }}</td>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </tr>
        </table>

        <p>{{ form.submit() }}</p>
    </form>

    <div>
        {%for message in get_flashed_messages()%}
            <div class="alert alert-warning">
                <p style="color: red">
                    {{message}}
                </p>
            </div>
        {%endfor%}
    </div>

{% endblock %}