<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} 的选课系统</title>
    {% else %}
        <title>学生选课系统</title>
    {% endif %}
</head>
<body>
    <div id="header">
        <div style="text-align: center">
            <h1>欢迎使用学生成绩管理系统!</h1>
            <a href="http://www.layoutit.cn/">注册</a>|<a href="http://www.layoutit.cn/">登录</a>
        </div>
    </div>

    <div id="container">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <div style="text-align: center">
            <a rel="nofollow" href="http://www.layoutit.cn/">关于我们</a> | <a rel="nofollow" href="http://www.layoutit.cn/">服务条款</a> | <a rel="nofollow" href="http://www.layoutit.cn/">免责声明</a> | <a rel="nofollow" href="http://www.layoutit.cn/">网站地图</a> | <a rel="nofollow" href="http://www.layoutit.cn/">联系我们</a>
        </div>
    </div>
</body>
</html>